* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14181c;
    /* Matches Letterboxd dark */
    color: #9ab;
    min-height: 100vh;
    overflow-x: hidden;
    /* Prevents accidental side-scrolling */
}